.register {
    background: #254896;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 400px;
    margin: 3rem auto 8.1rem auto;
    width: 329px;
}

label{
    text-align: center;
    color: aliceblue;
}

